.revert {
  transition:
    background-image 0.3s ease,
    color 0.3s ease;
  span {
    position: relative;
    opacity: 0;
  }

  &:hover {
    background-size: cover;
    background-image: url('../../../../public/assets/img/sectionBackground.png');

    .arrow {
      content: url('../../../../public/assets/svg/revertLinkImg.svg');
    }

    span {
      opacity: 100%;
    }
  }
}
