.orange-bold {
  @apply text-color-orange;
}

.headingStruct {
  @apply font-semibold leading-tight tracking-tighter;
}

.heading {
  @apply text-5xl font-semibold leading-tight tracking-tighter;
}

.heading6 {
  @apply text-6xl font-semibold leading-tight tracking-tighter;
}

.heading2 {
  @apply text-3xl font-semibold leading-tight tracking-tighter;
}

.shiftedHeading4 {
  @apply pl-7 text-2xl font-semibold leading-tight tracking-tighter;
}

.label {
  @apply text-xs font-medium text-gray-400;
}

.emptyMessage {
  @apply w-full text-center font-medium text-gray-400;
}

.seo_content {
  &::after {
    @apply bottom-0 left-0 w-full;
  }
}

.input-filed,
input[type='number']::-webkit-inner-spin-button {
  @apply appearance-none rounded-full border-none bg-color-bg-gray p-6;
  -webkit-appearance: none;
}

.button_container button {
  width: 100%;
  height: 100%;
}

.noScrollbar {
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.whiteContainer {
  @apply rounded-3xl bg-white p-7;
}

.orangeButton {
  @apply rounded-full bg-color-orange font-semibold text-white transition duration-150 hover:bg-color-hover-orange active:translate-y-0.5 active:bg-color-orange active:shadow-inner active:shadow-color-dark;
  &:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.click:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.blackButton {
  @apply rounded-full bg-color-dark font-medium text-white transition duration-150 hover:text-color-orange active:translate-y-0.5 active:shadow-inner;
  &:active {
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.3);
  }
}
