.orange-bold {
  @apply text-color-orange;
}

.heading {
  @apply text-5xl font-semibold leading-tight tracking-tighter;
}

.heading6 {
  @apply text-6xl font-semibold leading-tight tracking-tighter;
}

.heading2 {
  @apply text-3xl font-semibold leading-tight tracking-tighter;
}

.seo_content {
  &::after {
    @apply bottom-0 left-0 w-full;
  }
}

.input-filed,
input[type='number']::-webkit-inner-spin-button {
  @apply appearance-none rounded-full border-none bg-color-bg-gray p-6;
  -webkit-appearance: none;
}

.button_container button {
  width: 100%;
  height: 100%;
}
